.App {
	font-size: 16px;
	padding-top: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.divider {
	width: 50%;
	align-self: center;
	border: 1px solid rgba(255, 255, 255, 0.7);
	margin: 3em 0;
}

@media screen and (max-width: 992px) {
	.divider {
		width: 80%;
	}
}
