* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

html {
	font-family: Ubuntu, "Ubuntu Mono", sans-serif;
	background: #333;
	color: white;
}

button {
	cursor: pointer;
}
